<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include JQuery -->
        <script>
            $(document).ready(function() {
                // Add 'check-empty' class to the form inputs 
                $('#signupForm input').not(':input[type="submit"]').addClass('check-empty');

                $('#signupForm :input[type="submit"]').prop('disabled', true); // Initially disable the button
                $('#signupForm .check-empty').change(function() {  // Whenever any input field is changed
                    var empty = false;
                    $('#signupForm .check-empty').each(function() {  // For all input fields except the submit button
                        if ($(this).val() == '') {
                            empty = true;
                        }
                    });
                    if (empty) {
                        $('#signupForm :input[type="submit"]').prop('disabled', true);
                    } else {
                        $('#signupForm :input[type="submit"]').prop('disabled', false);
                    }
                });
            });
        </script>
        <style>
            /* Responsive form */
            #signupForm {
                width: 80%;
                max-width: 500px;
                margin: 0 auto 150px;
            }

            /* On small screens, make the form full width */
            @media (max-width: 600px) {
                #signupForm {
                    width: 100%;
                }
            }
        </style>
    </head>

    {% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

    <h1 style="text-align:center; margin-block:50px; color:#fcfbfe; font-size: 36px; background-color: black;">Create An Account Below</h1>
    <!-- form to signup -->
    <form id="signupForm" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %} 
        {{form|crispy}}
        {{profile_form|crispy}}
        <input type="submit" value="Signup" style="margin-block:50px;" >
    </form>

    {% endblock content %}
</html>
